/* Loader Css */

/* .loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background: #FFA700
}

.loader-bg .loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px)
}

.loader:before,
.loader:after {
  content: '';
  border: 1em solid #ffffff;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.loader:before {
  -webkit-animation-delay: .5s;
          animation-delay: .5s
}

@-webkit-keyframes loader {
  0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }

  50% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }

  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
}

@keyframes loader {
  0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }

  50% {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }

  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
} */


/* App Css */


.app {
  background-color: black;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #1b1f20;
  height: 80px;
}

#logo {
  width: 19%;
}

.nav-bar img {
  padding-left: 100px;
  padding-top: 21px;
  height: 50px;
  width: 200px;
}

.links {
  width: 60%;
}

.all-links li a {
  color: white;
}

.all-links li {
  font-size: 23px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  padding-top: 15px;
  padding-left: 70px;
  list-style-type: none;
  /* text-decoration: none; */
}

.third {
  padding: 10px;
  border-radius: 50px;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.fourth {
  margin-top: 20px;
  float: right;
  margin-right: 50px;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0000;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.fourth:hover {
  box-shadow: 0 0 10px 0 #ff0000 inset, 0 0 10px 4px #ff0000;
}

.add-to-card {
  width: 21%;
}

.add-to-card p{
}

.fa-cart-plus{
  padding-top: 25px;
  padding-left: 170px;
  color: white;
}

.counter-number p{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 50px;
  width: 20px;
  height: 30px;
  color: white;
  padding-left: 9px;
  border-radius: 50%;
  background-color: orange;
  font-size: 22px;
  font-weight: 500;
}

/* Slider css */

.slider {
  margin-top: 30px;
  margin-left: 90px;
  width: 87%;
  height: auto;
  background-color: black;
}

/* Category Css */

.category {
  margin-top: 30px;
  padding-bottom: 70px;
  width: 100%;
  height: 500px;
}

.heading {
  width: 100%;
  text-align: center;
}

.heading h3 {
  font-size: 30px;
  padding-top: 30px;
  color: #fff;
}

.heading span {
  padding-left: 7px;
  text-decoration: underline;
  color: #ffa700;
  font-style: italic;
}

.all-boxes {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  position: relative;
  width: 22.5%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 7px 20px -5px rgb(0 0 0 / 15%);
  transition: all 200ms ease;
}

.box img {
  border-radius: 15px;
  width: 300px;
  height: 250px;
}

.box img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
}

.text-description h3 {
  text-decoration: none;
  color: gray;
  width: 300px;
  text-align: center;
}

.text-description h3:hover {
  text-decoration: underline;
  color: orangered;
  transition: 0.3s ease-in-out;
}

/* Footer Css */

.main-footer {
  width: 100%;
  height: 350px;
  background-color: #1b1f20;
  color: #fff;
  margin-top: 50px;
  padding-top: 70px;
}

.footer-content h5 {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  color: #fff;
  padding-left: 50px;
}

.footer-content h5:after {
  position: absolute;
  content: "";
  left: 50px;
  bottom: -14px;
  width: 28%;
  height: 3px;
  background: #ffa700;
}

.quick-link a > img {
  height: 60px;
  width: 100%;
}

.footer-about p {
  text-align: justify;
  line-height: 22px;
  color: #fff;
  padding-left: 50px;
  padding-right: 400px;
}

.social-icon {
  padding-left: 200px;
}

ul.social-icon li {
  display: inline-block;
}

.social-icon a {
  display: inline-block;
  width: 30px;
  color: #fff;
  height: 30px;
  padding-left: 17px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 7px;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.social-icon a.facebook {
  background: #4267b2;
}

.social-icon a.instagram {
  background: #eb7836;
}

.social-icon a.youtube {
  background: #ff0101;
}

.social-icon a.twitter {
  background: #1c9cea;
}

.social-icon a.whatsapp {
  background: #2ac54d;
}

.social-icon a.linkedin {
  background: #0e76a8;
}

.social-icon a:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.quick-links {
  width: 100%;
}

ul.quick-link li {
  padding-left: 20px;
  display: block;
  width: 50%;
}
ul.quick-link li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}


/* Products Css */

.products {
  width: 100%;
  height: auto;
}

.products:after {
  position: absolute;
  content: "";
  left: 95px;
  top: 200px;
  width: 85%;
  height: 5px;
  background: #ffa700;
}

.product-box {
  position: relative;
  width: 22.5%;
  height: 400px;
  margin: 10px;
  padding: 10px;
  margin-top: 70px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 7px 20px -5px rgb(0 0 0 / 15%);
  transition: all 200ms ease;
}

.product-box img {
  border-radius: 15px;
  width: 300px;
  height: 250px;
}

.product-box img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
}

.product-box h4 {
  position: relative;
  color: gray;
}

.all-product-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.addButton {
  position: absolute;
  /* float:right;
  margin-top: 0px;
  margin-right: 20px; */
  top: 350px;
  right: 10px;
  padding: 10px;
  border-radius: 50px;
  /* border-color: #FF0000; */
  color: #fff;
  box-shadow: 0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0000;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.addButton:hover {
  box-shadow: 0 0 10px 0 #ff0000 inset, 0 0 0px 0px #ff0000;
}
